@use '../../node_modules/element-plus/dist/index.css';

@import 'https://cdn.staticfile.org/minireset.css/0.0.2/minireset.min.css';
@import 'https://at.alicdn.com/t/font_2809722_7e52n21p5cq.css';
@import 'https://cdn.staticfile.org/csshake/1.5.3/csshake.min.css';
//@import 'https://my-blog-store.oss-cn-guangzhou.aliyuncs.com/store/locss.min.css';

@import './common.scss';

html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:after {
    position: absolute;
    z-index: 10;
    opacity: 0.8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background: url("assets/noise.png");
    pointer-events: none;
    //content: "";
  }
  > .bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }
  .c-head-nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
  }
  .page-wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
    //content-visibility: auto;
    .pg {
      flex: 1;
      width: 100%;
    }
  }
}
a {
  text-decoration: none;
  color: #409eff;
  &:hover {
    color: #87bffa;
  }
}
:root {
  --color-mode: 'light';
  --body-bg-color: white;
  --board-bg-color: white;
  --radius: 10px;
  --board-radius: 10px;
  --board-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  --mask-bg-color: rgba(255, 255, 255, 0.8);
  --input-bg-color: #f3f3f3;
  --text-color: #3c4858;
  --sec-text-color: #718096;
  --post-text-color: #2c3e50;
  --post-heading-color: #1a202c;
  --post-link-color: #0366d6;
  --link-hover-color: #30a9de;
  --link-hover-bg-color: #f8f9fa;
  --navbar-bg-color: #2f4154;
  --navbar-text-color: #fff;
  --border-color: #dadada;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background: var(--body-bg-color);
  color: var(--text-color);
  font-family: var(--font-family-sans-serif);
  &.theme-dark {
    --color-mode: 'dark';
    --body-bg-color: #181c27;
    --board-bg-color: #252d38;
    --mask-bg-color: rgba(37, 45, 56, 0.8);
    --text-color: #c4c6c9;
    --sec-text-color: #a7a9ad;
    --post-text-color: #c4c6c9;
    --post-heading-color: #c4c6c9;
    --post-link-color: #1589e9;
    --link-hover-color: #30a9de;
    --link-hover-bg-color: #364151;
    --border-color: #364151;
    --navbar-bg-color: #1f3144;
    --navbar-text-color: #d0d0d0;
    --input-bg-color: #141a26;
    .el-button:not(.el-button--primary),
    .el-pagination button {
      border: none;
      background: none;
    }
  }
  &.win {
    //noinspection CssInvalidPropertyValue
    overflow: overlay;
    ::-webkit-scrollbar {
      all: unset;
      width: 0;
      height: 0;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #c1c1c1;
    }
    @media screen and (min-width: 750px) {
      ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }
  }
}
.main-width {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  @media (max-width: 576px) {
    max-width: 540px;
    --radius: 0;
    --board-radius: 0;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1500px) {
    padding: 0 50px;
    max-width: 1200px;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}
[v-cloak] {
  display: none !important;
}
.img-box {
  > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.w-p100 {
  width: 100%;
}
.h-p100 {
  height: 100%;
}
.wh-p100 {
  @extend .w-p100, .h-p100;
}
.board {
  position: relative;
  margin-top: 30px;
  padding: 40px 20px;
  width: 100%;
  //border-radius: var(--board-radius);
  //box-shadow: var(--board-shadow);
  //background: var(--board-bg-color);
  background: none;
  color: var(--text-color);
  @media (max-width: 576px) {
    padding: 0;
  }
}
.flex-1 {
  flex: 1;
}
.btn:not(.disabled):not(.active) {
  cursor: pointer;
}
.el-loading-mask {
  background: var(--mask-bg-color);
}
.el-overlay-dialog {
  overflow: auto;
}
.el-dialog {
  background: var(--board-bg-color);
  max-width: 800px;
}
.el-form-item {
  text-align: left;
  .el-form-item__label {
    color: var(--text-color);
  }
  .el-input .el-input__wrapper,
  textarea,
  .v-md-editor,
  .vuepress-markdown-body {
    --el-input-bg-color: var(--input-bg-color);
    color: var(--text-color);
    background: var(--input-bg-color);
    border-color: var(--link-hover-bg-color);
  }
  .v-md-editor__toolbar,
  .v-md-editor__editor-wrapper {
    border-color: var(--border-color);
  }
}
@keyframes heart-beat {
  0% {
    opacity: 0.8;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(-1em);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translateY(5px) scaleX(1.2) scaleY(0.8);
    transform: translateY(5px) scaleX(1.2) scaleY(0.8);
  }
  30% {
    -webkit-transform: translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
    transform: translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
  }
  50% {
    -webkit-transform: translateY(0) scale(1) rotateZ(0);
    transform: translateY(0) scale(1) rotateZ(0);
  }
  55% {
    -webkit-transform: translateY(0) scaleX(1.1) scaleY(0.9) rotateZ(0);
    transform: translateY(0) scaleX(1.1) scaleY(0.9) rotateZ(0);
  }
  70% {
    -webkit-transform: translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
    transform: translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
  }
  80% {
    -webkit-transform: translateY(0) scaleX(1) scaleY(1) rotateZ(0);
    transform: translateY(0) scaleX(1) scaleY(1) rotateZ(0);
  }
  85% {
    -webkit-transform: translateY(0) scaleX(1.05) scaleY(0.95) rotateZ(0);
    transform: translateY(0) scaleX(1.05) scaleY(0.95) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleX(1) scaleY(1);
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}
.use-jump {
  animation: jump ease 1.5s 1;
  -webkit-animation: jump ease 1.5s 1;
}
