@use '../../node_modules/element-plus/dist/index.css';

@import 'https://cdn.staticfile.org/minireset.css/0.0.2/minireset.min.css';
@import 'https://at.alicdn.com/t/font_2809722_7e52n21p5cq.css';
@import 'https://cdn.staticfile.org/csshake/1.5.3/csshake.min.css';
//@import 'https://my-blog-store.oss-cn-guangzhou.aliyuncs.com/store/locss.min.css';

@import './common.scss';
@import './css.variable.scss';
@import './element-ui';

@font-face {
  font-family: 'zz';
  src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

#__nuxt {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:after {
    position: absolute;
    z-index: 10;
    opacity: 0.8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background: url("assets/noise.png");
    pointer-events: none;
    //content: "";
  }
  > .bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }
  .c-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
  }
  .page-wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: calc(var(--footer-height) + 1rem);
    box-sizing: border-box;
    //content-visibility: auto;
    .pg {
      flex: 1;
      width: 100%;
    }
  }
}
a {
  text-decoration: none;
  color: #409eff;
  &:hover {
    color: var(--theme-color);
  }
}

:root {
  background: var(--body-bg-color);
  color: var(--text-color);
  font-family: var(--font-family-sans-serif);
  @media (max-width: 750px) {
    background: var(--board-bg-color);
  }
  &.theme-dark {
    //.el-button:not(.el-button--primary),
    .el-pagination button {
      border: none;
      background: none;
    }
  }
  &.win {
    //noinspection CssInvalidPropertyValue
    overflow: overlay;
    ::-webkit-scrollbar {
      all: unset;
      width: 0;
      height: 0;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #c1c1c1;
    }
    @media screen and (min-width: 750px) {
      ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }
  }
}

.main-width {
  margin: auto;
  max-width: 1400px;
  width: 100%;
  @media (max-width: 576px) {
    --radius: 0;
    --board-radius: 0;
  }
  @media (min-width: 880px) {
    max-width: 100%;
  }
  @media (min-width: 1400px) {
    max-width: 1400px;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}
[v-cloak] {
  display: none !important;
}
.w-p100 {
  width: 100%;
}
.h-p100 {
  height: 100%;
}
.wh-p100 {
  @extend .w-p100, .h-p100;
}
.board {
  position: relative;
  margin-top: 1rem;
  padding: var(--board-padding);
  width: 100%;
  border-radius: var(--board-radius);
  //box-shadow: var(--board-shadow);
  background-color: var(--board-bg-color);
  color: var(--text-color);
  @media (max-width: 750px) {
    //padding: 0;
    --board-padding: 5px;
  }
}
.btn:not(.disabled):not(.active) {
  cursor: pointer;
}

@keyframes heart-beat {
  0% {
    opacity: 0.8;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(-1em);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translateY(5px) scaleX(1.2) scaleY(0.8);
    transform: translateY(5px) scaleX(1.2) scaleY(0.8);
  }
  30% {
    -webkit-transform: translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
    transform: translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
  }
  50% {
    -webkit-transform: translateY(0) scale(1) rotateZ(0);
    transform: translateY(0) scale(1) rotateZ(0);
  }
  55% {
    -webkit-transform: translateY(0) scaleX(1.1) scaleY(0.9) rotateZ(0);
    transform: translateY(0) scaleX(1.1) scaleY(0.9) rotateZ(0);
  }
  70% {
    -webkit-transform: translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
    transform: translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
  }
  80% {
    -webkit-transform: translateY(0) scaleX(1) scaleY(1) rotateZ(0);
    transform: translateY(0) scaleX(1) scaleY(1) rotateZ(0);
  }
  85% {
    -webkit-transform: translateY(0) scaleX(1.05) scaleY(0.95) rotateZ(0);
    transform: translateY(0) scaleX(1.05) scaleY(0.95) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleX(1) scaleY(1);
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}
.use-jump {
  animation: jump ease 1.5s 1;
  -webkit-animation: jump ease 1.5s 1;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px var(--input-bg-color) !important; // 改变了背景色
  -webkit-text-fill-color: var(--text-color); // 改变了字体颜色
}
