.light {
  .pre-bg-scape {
    background-image: url(https://my-blog-store.oss-cn-guangzhou.aliyuncs.com/store/1684146235806.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pre-bg-boat {
    background-image: url(https://my-blog-store.oss-cn-guangzhou.aliyuncs.com/store/1684146423630.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pre-bg-angel-top-right {
    background-image: url(https://my-blog-store.oss-cn-guangzhou.aliyuncs.com/store/1684146557341.webp);
    background-position: top right;
    background-size: 90px;
    background-repeat: no-repeat;
  }
  .pre-bg-long-top-right {
    background-image: url(https://my-blog-store.oss-cn-guangzhou.aliyuncs.com/store/1684146633738.webp);
    background-position: top right;
    background-size: 90px;
    background-repeat: no-repeat;
  }
}
