.light {
  .pre-bg-scape {
    background-image: url(https://gd-hbimg.huaban.com/68073de982c0eb1dc380fd1274d61118b96f5cd767705-wkQh0G_fw1200);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pre-bg-boat {
    background-image: url(https://gd-hbimg.huaban.com/ef6b3359fab1e54891375a8b020c55f1f88c929427b191-CfvqXE_fw1200);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pre-bg-angel-top-right {
    background-image: url(https://gd-hbimg.huaban.com/3db7983fa56cc367ebf5120ed8212a29002c1e0664685-gknlce_fw1200);
    background-position: top right;
    background-size: 90px;
    background-repeat: no-repeat;
  }
  .pre-bg-long-top-right {
    background-image: url(https://gd-hbimg.huaban.com/da7349906d604e25d514b3d7739f9d28cf55cd8d2dbfa-vlz980_fw1200);
    background-position: top right;
    background-size: 90px;
    background-repeat: no-repeat;
  }
}
